* {
    font-family: Cabin, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #F1F3F4;
}

li {
    list-style-type: none;
}

hr {
    border: 1px solid #512B58;
    width: 68%;
}

h1 {
    width: 100%;
    text-align: center;
}

h2 {
    padding: 0;
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

button {
    outline: none;
}

.data {
    width: 100%;
    text-align: center;
    font-size: larger;
}

.header {
    background-color: #2A7886;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 60px;
    display: flex;
    align-items: center;
}

.pesquisa {
    display: flex;
    right: 2%;
    position: absolute;
}

#botaoPesquisar {
    height: 30px;
    width: 30px;
    background-color: #512B58;
    border: 0;
}

#botaoMenu {
    height: 40px;
    width: 40px;
    position: relative;
    margin: 5vh;
}

#botaoAdicionar {
    height: 65px;
    width: 65px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: #512B58;
    border-radius: 50%;
    border: 0;
}

#botaoAdicionar:hover {
    background-color: rgb(114, 79, 121);
    cursor: pointer;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 200px;
    height: 100%;
    left: 0;
    top: 60px;
    background-color: rgb(239, 240, 240);
    border-right: 1px solid rgba(114, 79, 121, 0.1);
}

#categorias {
    margin-top: 5px;
}

.botaoCategoria {
    text-align: left;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 10px;
}

.botaoCategoria.selecionada {
    background-color: black;
}

.botaoCategoria:hover {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
}

.botaoCategoria:focus {
    background-color: rgb(212, 212, 212);
}

.conteudo {
    position: relative;
    background-color: #F1F3F4;
    margin: 0 0 0 201px;
    top: 60px;
    padding-bottom: 1px;
    width: 100%;
    height: 100%;
}

#titulos {
    display: flex;
    justify-content: space-around;
}

#listaContatos li {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

#listaContatos {
    padding: 0;
    margin: 0;
}

.contato {
    border-top: 1px solid rgba(81, 43, 88, 0.20);
    border-width: 96%;
    user-select: none;
}

.contato:hover {
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

#resultadoPesquisa {
    border-top: 1px solid rgba(81, 43, 88, 0.20);
    text-align: center;
    padding: 8px;
}

#logo {
    border-top: 1px solid rgba(81, 43, 88, 0.20);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 40px 0;
}

#logo * {
    user-select: none;
}

.iconeLogo {
    height: 30px;
    width: 30px;
    margin: 0 3px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    transition: display 2s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal.fadeIn {
    animation: fadeIn 0.2s ease-in-out;
}

.conteudoModal {
    background-color: white;
    padding: 5px;
    width: 370px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.botoesModal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#listaModal {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 15px 0;
}

#listaModal h1 {
    font-size: xx-large;
}

#infoContato {
    text-align: center;
    width: 100%;
}

#infoContato .data {
    padding: 0;
}

.botaoDeletar {
    background-color: transparent;
    position: relative;
    top: 5px;
    right: 5px;
    border: 0;
    height: 35px;
    width: 35px;
    padding: 1px;
    border-radius: 5px;
}

.botaoDeletar.fadeIn {
    animation: fadeIn 0.3s linear;
}

.botaoFechar {
    background-color: #512B58;
    border: 0;
    height: 30px;
    width: 30px;
    padding: 0;
    position: relative;
    top: 5px;
    left: 5px;
    border-radius: 5px;
}

.botaoFechar:hover {
    background-color: rgb(114, 79, 121);
    cursor: pointer;
}

.iconeFechar {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    transform: rotate(45deg);
}

.botaoEditar {
    height: 30px;
    width: 30px;
    background-color: blue;
}

.botaoSalvar {
    left: 50%;
    position: relative;
    transform: translate(-50%);
    margin: 20px 0;
    font-size: large;
    background-color: #512B58;
    color: white;
    border: 0;
    padding: 5px 15px;
}

.botaoSalvar:hover {
    background-color: rgb(114, 79, 121);
    cursor: pointer;
}

#camposModalAdd {
    display: flex;
    flex-wrap: wrap;
}

#camposModalAdd label {
    font-size: large;
}

.campo {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.campo * {
    width: 60%;
}

#campoSetor {
    text-align: left;
    width: 100%;
}

#campoSetor * {
    width: 94%;
}

.textoInput {
    border: 1px solid darkgray;
    padding: 5px;
    font-size: larger;
}

#modalConfirmarAcao {}